@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Fira+Code&family=Source+Code+Pro&family=Inconsolata&family=Ubuntu+Mono&family=Red+Hat+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply font-jet;
}
